.projectsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  margin-top: 3.5rem; 
}


.projectCard {
  position: relative;
  height: 400px;
  
  border-radius: 16px; 
  overflow: hidden; 
  
  background-color: rgba(167, 112, 239, 0.03);
  border: 1px solid rgba(167, 112, 239, 0.2);
  
  transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.projectCard:hover {
  transform: translateY(-8px);
  border-color: var(--accent-color, #a770ef);
  box-shadow: 0 10px 30px rgba(167, 112, 239, 0.4);
}

.projectImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1; 
  
  transition: transform 0.4s ease;
}

.projectCard:hover .projectImage {
  transform: scale(1.05);
}

.projectInfo {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 2; 

  background: linear-gradient(
    to top, 
    rgba(15, 15, 30, 0.95) 30%,  
    rgba(15, 15, 30, 0.7) 60%,
    transparent 100%
  );
  
  padding: 1.5rem; 
  
}

.projectInfo h3 {
  font-size: 1.7rem;
  font-weight: 700;
  color: var(--white-color, #fff);
  margin-bottom: 0.5rem;
}

.projectInfo p {
  font-size: 0.9rem;
  color: var(--accent-color, #a770ef);
  margin-bottom: 1.2rem;
  font-family: monospace; 
}

.projectLinks {
  display: flex;
  gap: 15px;
  
  opacity: 0;
  transform: translateY(10px);
  transition: all 0.3s ease-out;
}

.projectCard:hover .projectLinks {
  opacity: 1;
  transform: translateY(0);
}