.skillsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 30px;
}

.skillCard {
    background-color: var(--secondary-bg-color);
    padding: 30px;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skillCard:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(102, 126, 234, 0.2);
}

.skillIcon {
    font-size: 3rem;
    color: var(--primary-color);
    margin-bottom: 15px;
}