
.starfield {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; 
}

@keyframes moveStars {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100vh); 
  }
}

.stars1, .stars2, .stars3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
 
  
  height: 200vh;
  background-repeat: repeat;
  background-position: 0 0;
}

.stars1 {
  background-image: 
    radial-gradient(1px 1px at 20px 30px, #FFF, #FFF0),
    radial-gradient(1px 1px at 80px 120px, #FFF, #FFF0),
    radial-gradient(1px 1px at 150px 180px, #FFF, #FFF0),
    radial-gradient(1px 1px at 100px 240px, #FFF, #FFF0);
  background-size: 250px 250px; 
  animation: moveStars 80s linear infinite; 
}

.stars2 {
  background-image: 
    radial-gradient(2px 2px at 50px 80px, #FFF, #FFF0),
    radial-gradient(2px 2px at 130px 160px, #FFF, #FFF0),
    radial-gradient(2px 2px at 200px 220px, #FFF, #FFF0);
  background-size: 300px 300px;
  animation: moveStars 50s linear infinite; 
}

.stars3 {
  background-image: 
    radial-gradient(3px 3px at 100px 100px, #FFF, #FFF0),
    radial-gradient(3px 3px at 250px 200px, #FFF, #FFF0);
  background-size: 350px 350px;
  animation: moveStars 25s linear infinite; 
}