.button {
    padding: 12px 25px;
    border-radius: 50px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    border: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: inline-block;
}

.primary {
    background: linear-gradient(90deg, var(--primary-color), var(--secondary-color));
    color: var(--white-color);
}

.secondary {
    background-color: transparent;
    color: var(--white-color);
    border: 2px solid var(--primary-color);
}

.button:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(102, 126, 234, 0.4);
}