.aboutContent {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 40px;
    align-items: center;
}

.aboutText p {
    margin-bottom: 15px;
}

.aboutInfo p {
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .aboutContent {
        grid-template-columns: 1fr;
        text-align: center;
    }
}