.contactForm {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contactForm input,
.contactForm textarea {
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #444;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: inherit;
    font-size: 1rem;
}

.contactForm input::placeholder,
.contactForm textarea::placeholder {
    color: #888;
}